{% extends 'base.html' %}
{% load static %}


{% block title %}
(주)엔씨스퀘어 | 로그인
{% endblock title %}

{% block content %}
<style>
  th {
    background-color: #bae3ff54;
    font-weight: 700;
  }
</style>


<section id="subtitle">
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="banner-content text-center">
          <!-- Heading -->
          <h1 class="display-4 mb-4 ">
            회원가입
          </h1>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<section class="section">
  <div class="container">


    <div class="row justify-content-center">
      <div class="col-lg-5">
        <form method="post" class="contact_form" action="{% url 'account:signup' %}">
          {% csrf_token %}
          {% include 'account/form_errors.html' %}

          {% for field in form %}
              <div class="form-group">
                <label class="h6 small d-block text-uppercase" for="{{ field.id_for_label }}">
                   {{ field.label_tag }}
                   <span class="text-danger">*</span>
                </label>

                <div class="input-group">
                  <input class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
                </div>

              </div>
          {% endfor %}

          <table class="table table-bordered w-100">
            {% for field in form %}
            <tr>
              <th>{{ field.label_tag }}</th>
              <td><div class="input-group">
                <input class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" placeholder="{{ field.label }}">
              </div></td>
            </tr>
            {% endfor %}

          </table>
            <input name="submit" type="submit" class="btn btn-tertiary btn-circled" value="회원가입">



        </form>

      </div>
    </div>

  </div>
</section>


{% endblock content %}
