[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ncdev/venv/bin/uwsgi -i /home/ncdev/ncweb/wsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
