{% extends 'base.html' %}
{% load static %}


{% block title %}
테스트 페이지
{% endblock title %}

{% block content %}
<style>
</style>


<section id="subtitle">
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="banner-content text-center">
          <!-- Heading -->
          <h1 class="display-4 mb-4 ">
            분석 서비스
          </h1>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<section class="section bg-grey">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center">
      
      <div class="col-lg-12">
        <div class="text-center">
          <div class="section-heading">
            <h2 class="section-title">
              원자력환경분석센터
            </h2>
          </div>
        </div>
      </div>


    </div>




  </div>
</section>




{% endblock content %}
