{% extends 'base.html' %}
{% load static %}


{% block title %}
테스트 페이지
{% endblock title %}

{% block content %}
<style>
  .img-center {
    padding: 25px;
  }

  li::marker {
    color: var(--tertiary);
    font-size: 2rem;
  }
</style>


<section id="subtitle">
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="banner-content text-center">
          <!-- Heading -->
          <h1 class="display-4 mb-4 ">
            사업분야
          </h1>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<section class="section">
  <div class="container">

    <div class="row justify-content-center mt-4 mb-4">

      <div class="col-lg-3">
        <img src="{% static 'images/business/disposal.png' %}" alt="" class="img-fluid img-center">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <ul>
          <li>원자력발전소 해체 시 발생하는 폐콘크리트 재활용을 위한 연구 <br>
            콘크리트 폐기물로부터 추출한 Ca(OH)²를 이용하여 지오폴리머 제조 <br>
            Ca(OH)² 추출 시 발생하는 SiO² 을 재활용한 지오폴리머 제조</li>
          <li>
            원전 해체 시 발생하는 방사성 폐기물 처리 / 처분 관련 기술 연구 <br>
            방사성 폐기물을 담지한 지오폴리머의 특성평가 <br>
            (압축강도, 침출시험, 침수시험, 유리수시험, 감마선조사, 열순환시험)
          </li>
          <li>한국에너지기술평가원, 한국수력원자력, 과학기술정보통신부,<br>
 원자력안전위원회, 포항테크노파크 등다양한 기관과의 과제 수행
          </li>
        </ul>
      </div>

    </div>

    <div class="row justify-content-center mt-4 mb-4">

      <div class="col-lg-3">
        <img src="{% static 'images/business/cloud.png' %}" alt="" class="img-fluid img-center">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <ul>
          <li>심층처분 안전규제 요건 개발을 위한 데이터베이스 구축 연구개발 진행</li>
          <li>방사성 처분관련 데이터 수집 및 관리를 위한 웹서비스, 클라우드 시스템 개발</li>
          <li>텍스트마이닝 기술을 활용한 원자력 안전 데이터 분석 및 빅데이터 시각화</li>
          <li>SW, 빅데이터, 딥러닝 등 ICT 기술을 기반으로 원자력 데이터를 가공하여 다양한 공공 서비스를 제공함으로 부가가치 창출</li>
        </ul>
      </div>

    </div>

    <div class="row justify-content-center mt-4 mb-4">

      <div class="col-lg-3">
        <img src="{% static 'images/business/analysis.png' %}" alt="" class="img-fluid img-center">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <ul>
          <li>
            KOLAS 시험기관<br>
 (수질 중 감마핵종, H-3, Sr-90) 인증 예정
          </li>
          <li>
            KORAD 관련 시료 핵종 분석<br>
            시스템 준비 중 감마, 베타, 알파 핵종 분석능력 확보<br>
 ( 표준과학 연구원 숙련도평가 참여 및 신뢰성 확보 )<br>
          </li>
          <li>
            KORAD 관련 핵종<br>
            (H-3, C-14, Fe-55, Co-58, Ni-59, Ni-63, Sr-90,<br>
            Tc-99, I-129, Cs-137, Ce-144, 전알파)<br>
            25년 까지 분석기술 확보<br>
          </li>
          <li>
            지역 환경방사능 서비스<br>
            감마핵종, H-3, Sr-90 분석 (자체성적서)
          </li>
        </ul>
      </div>

    </div>

    <div class="row justify-content-center mt-4 mb-4">

      <div class="col-lg-3">
        <img src="{% static 'images/business/robot.png' %}" alt="" class="img-fluid img-center">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <ul>
          <li>수중카메라 연구 개발<br>
            (기술이전 : 포항공과대학교)</li>
          <li>양식장 수온 및 용존 산소량  실시간 모니터링 및 양식장 물속 환경 모니터링</li>
          <li>앱을 통해 수온/용존 산소량 확인 가능<br>
            양식장 수중 상태 확인 가능</li>
        </ul>
      </div>

    </div>

  </div>
</section>


{% endblock content %}
