{% extends 'base.html' %}
{% load static %}


{% block title %}
테스트 페이지
{% endblock title %}

{% block content %}
<style>
  #subtitle {
    background: var(--background);
  }

  table {
    font-size: 16px;
  }

  th {
    font-weight: 900;
    color: black;
  }
</style>


<section id="subtitle">
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="banner-content text-center">
          <!-- Heading -->
          <h1 class="display-4 mb-4 ">
            제품소개
          </h1>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section class="section">
  <div class="container">

    <!-- section title -->
    <div class="row justify-content-center">
      <div class="text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title">
            비스무트그래핀 산화물 흡착제
          </h2>

        </div>
      </div>
    </div>
    <!-- section content -->
    <div class="row justify-content-center mt-4">

      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-1.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-2.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-3.png' %}" alt="" class="img-fluid">
      </div>

      <!-- <img src="{% static 'images/about/history.png' %}" alt="" class="img-fluid"> -->
    </div>

    <div class="row justify-content-center mt-4">

      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-4.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-5.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-6.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/bismuth-7.png' %}" alt="" class="img-fluid">
      </div>
      <!-- <img src="{% static 'images/about/history.png' %}" alt="" class="img-fluid"> -->
    </div>

  </div>
</section>

<section class="section">
  <div class="container">

    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <div class="text-center">
          <div class="section-heading">
            <h2 class="section-title">
              삼중수소 제거 반응기
            </h2>
          </div>
        </div>
      </div>

      <div class="col-lg-10">
        <p class="text-center">미세조류가 광에너지를 이용하여 광합성을 하는 과정에서 삼중수소가 세포내로 다량 흡수되어
  오염수 중의 삼중수소가 제거되는 원리를 이용한 반응기입니다.</p>
      </div>

    </div>
    <!-- section content -->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="{% static 'images/product/tritium-1.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <img src="{% static 'images/product/tritium-2.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <img src="{% static 'images/product/tritium-3.png' %}" alt="" class="img-fluid">
      </div>

    </div>

  </div>
</section>


<section class="section">
  <div class="container">

    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <div class="text-center">
          <div class="section-heading">
            <h2 class="section-title">
              수중 카메라
            </h2>
          </div>
        </div>
      </div>

      <div class="col-lg-10">
        <p class="text-center">양식장 수온 및 용존 산소량과 실시간 모니터링 및 양식장 물속 환경 모니터링하며 
          앱을 통해 수온/용존 산소량 확인 가능 양식장 수중 상태를 확인 가능합니다. </p>
      </div>

    </div>
    <!-- section content -->
    <div class="row justify-content-center mt-4">



      <div class="col-lg-3">
        <img src="{% static 'images/product/uwcamera-1.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/uwcamera-2.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/uwcamera-3.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/uwcamera-4.png' %}" alt="" class="img-fluid">
      </div>

    </div>

  </div>
</section>

<section class="section">
  <div class="container">

    <div class="col-lg-12">
      <div class="row justify-content-center">

        <div class="col-lg-12">
        <div class="text-center">
          <div class="section-heading">
            <h2 class="section-title">
              방사성폐기물 처리용 고화소재
            </h2>
          </div>
        </div>
      </div>

        <div class="col-lg-10">
          <p class="text-center">비소성 시멘트(지오폴리머)는 기존 시멘트보다 성능이 우수한 소재개발을 진행하고 있습니다.
  고화체의 물성은 시멘트에 비해 3~4배의 폐기물 처리능력과 물리, 화학적 안정성을 가지고 있으며,
            취급 안정성이 뛰어나기 때문에 혁신적인 폐기물 고화처리 기술확보에 기여할 수 있습니다.</p>
        </div>
      </div>
    </div>


    <!-- section content -->
    <div class="row justify-content-center mt-4">
      <div class="col-lg-4">
        <img src="{% static 'images/product/geopolymer-1.png' %}" alt="" class="img-fluid">
      </div>

    </div>


  </div>
</section>

<section class="section">
  <div class="container">

    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <div class="text-center">
          <div class="section-heading">
            <!-- Heading -->
            <h2 class="section-title">
              스마트 테왁 & 스마트 호미 (개발 예정)
            </h2>

          </div>
        </div>
      </div>


      <div class="col-lg-10">
        <p class="text-center">그리드 네트워크 기반 N:N 통신 기술과 사고대응 및 해녀 작업 조절 알고리즘이 적용된 해녀 안전 시스템입니다.</p>
      </div>


    </div>


    <!-- section content -->
    <div class="row justify-content-center mt-4">
      <div class="col-lg-3">
        <img src="{% static 'images/product/tewak-1.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/tewak-2.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/tewak-3.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-lg-3">
        <img src="{% static 'images/product/tewak-3.png' %}" alt="" class="img-fluid">
      </div>

    </div>


  </div>
</section>


{% endblock content %}
