{% extends 'base.html' %}
{% load static %}


{% block title %}
(주)엔씨스퀘어 홈페이지
{% endblock title %}

{% block content %}

<section class="banner-area py-5" id="banner-3">
  <div class="overlay"></div>
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="banner-content text-center style-2">
          <!-- Heading -->
          <h1 class="display-4 mb-4 ">
            <!-- NCSQUARE -->
            <img src="{% static 'images/nc_main_logo.png' %}" alt="" class="img-fluid">
          </h1>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section id="quick">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-4 pt-4 col-md-12">
        <div class="service-block media ">
          <img src="{% static 'images/QuickService.png' %}" alt="" style="height:100px">
        </div>
      </div>

      <div class="col-lg-4 pt-4 col-md-12">
        <div class="service-block media q-service" onclick=location.href="#">
          <div class="service-icon">
            <i class="ti-server"></i>
          </div>
          <div class="service-inner-content media-body">
            <h2>시험분석신청</h2>
            <p>KOLAS 시험분석 의뢰서 작성을 위한 페이지로 이동합니다.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 pt-4 col-md-12">
        <div class="service-block media q-service" onclick=location.href="#">
          <div class="service-icon">
            <i class="ti-server"></i>
          </div>
          <div class="service-inner-content media-body">
            <h2>신청내역조회</h2>
            <p>접수한 KOLAS 시험분석 내역 및 진행단계를 확인하실 수 있습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-grey" id="process"  style="background:url({% static 'images/neac_main_bg.png' %}) 80% no-repeat; background-size:cover">
  <div class="white-overlay"></div>

  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-12 text-center">
        <div class="section-heading">

          <h2 class="sub-title">
            원자력환경분석센터

          </h2>
          <!-- Subheading -->
          <h3>
            (주)엔씨스퀘어 원자력 환경 분석센터는<br>
            감마핵종분석기, 액체섬광계수기, 알파핵종분석기, 전 알파/계수기 등 보유 장비를<br>
            기반으로 원자력 환경 관련 핵종 분석을 수행 중입니다.<br>
            원자력발전소 관련 핵종의 분석기술과 RI 구역을 확보하여 원자력 환경복원 사업에<br>
            경쟁력있는 분석센터를 만들어 나가는 것이 목표입니다.<br>
          </h3>
        </div>
      </div>
    </div> <!-- / .row -->


  </div>
</section>

<section class="section" id="service">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 pl-4 text-center">
        <div class="service-heading">
          <h1>Get a better deal and start saving money today</h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="service-block media">
          <div class="service-icon">
            <i class="ti-reload"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Backup System</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3 col-md-6">
        <div class="service-block media">
          <div class="service-icon">
            <i class="ti-cloud"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Cloud Hosting</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3 col-md-6">
        <div class="service-block media ">
          <div class="service-icon">
            <i class="ti-world"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Web hosting</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3 col-md-6">
        <div class="service-block media ">
          <div class="service-icon">
            <i class="ti-server"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Office Cloud</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-block media">
          <div class="service-icon">
            <i class="ti-world"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Web hosting</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-block media">
          <div class="service-icon">
            <i class="ti-cloud"></i>
          </div>
          <div class="service-inner-content media-body">
            <h4>Office Cloud</h4>
            <p>Our team are experts in matching you with the right provider.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="pl-3">Want to know more about this? <a href="#!">Contact us</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="services-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading">
          <!-- Heading -->
          <h2 class="section-title mb-2 text-white">
            Web Services
          </h2>

          <!-- Subheading -->
          <p class="mb-5 text-white">
            Rappo can be used to create anything from a small marketing page to a sophisticated website.
          </p>
        </div>
      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
        <div class="web-service-block">
          <i class="ti-light-bulb"></i>
          <h3>Creative Design</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
        <div class="web-service-block">
          <i class="ti-desktop"></i>
          <h3>Web Development</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
        <div class="web-service-block">
          <i class="ti-announcement"></i>
          <h3>Digital Marketing</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6 ">
        <div class="web-service-block">
          <i class="ti-layers-alt"></i>
          <h3>Graphic Design</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 ">
        <div class="web-service-block">
          <i class="ti-mobile"></i>
          <h3>App Development</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 ">
        <div class="web-service-block">
          <i class="ti-settings"></i>
          <h3>Wordpress Installation</h3>
          <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
